<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <!-- Logo image above the form -->
        <img src="../static/images/logo.png" alt="Logo" class="logo">
        <h1>Sign Up</h1>
        {% if error %}
            <p style="color: red; font-weight: bold;">{{ error }}</p>
        {% endif %}
        <form id="signup-form" action="{{ url_for('signup') }}" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <footer>
            <p>Already have an account? <a href="{{ url_for('login_page') }}" style="color: #66cccc;">Log in</a></p>
        </footer>
    </div>
</body>

<!-- Small text box for credits -->
<div class="bottom-text-box">
    <p>A project made for Cerebral Beach Hacks, 2024.</p>
</div>

</html>
